{% extends 'layout/base.njk' %}
{% block content %}
    <div class="accounts">
        <div class="wrap">
            <div class="accounts__content">
                <div class="accounts__header">
                    <h2>회원가입</h2>
                    <div class="breadcrumb">
                        <span class="active"><strong>01</strong>약관동의</span>
                        <span class=""><strong>02</strong>정보입력</span>
                        <span class=""><strong>03</strong>정보입력</span>
                    </div>
                </div>
                <div class="accounts__body">
                    <div class="signup">
                        <div class="form">
                            <form action="" class="block">
                                <div class="block">
                                    <h3 class="signup__title">서비스 약관 동의</h3>
                                    <div class="signup__terms">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illo mollitia saepe sapiente? Adipisci amet animi aspernatur beatae corporis dolor eum expedita explicabo, iure laboriosam minus molestias nam necessitatibus nemo non odit provident quasi quisquam, quos reiciendis reprehenderit rerum saepe sequi sint ullam vero voluptates? Cumque cupiditate deserunt dignissimos fuga fugit harum necessitatibus vero! Delectus dicta hic ipsa nesciunt nulla omnis quos, reprehenderit saepe? Dolor impedit magni minima molestias nobis rem rerum suscipit. Ab amet at autem blanditiis consectetur deleniti dignissimos dolores earum exercitationem facere laborum magnam modi molestiae molestias, mollitia non officia perspiciatis placeat quas quibusdam quisquam repellat similique!
                                    </div>
                                </div>
                                <div class="block mt-10">
                                    <h3 class="signup__title">서비스 약관 동의</h3>
                                    <div class="signup__terms">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illo mollitia saepe sapiente? Adipisci amet animi aspernatur beatae corporis dolor eum expedita explicabo, iure laboriosam minus molestias nam necessitatibus nemo non odit provident quasi quisquam, quos reiciendis reprehenderit rerum saepe sequi sint ullam vero voluptates? Cumque cupiditate deserunt dignissimos fuga fugit harum necessitatibus vero! Delectus dicta hic ipsa nesciunt nulla omnis quos, reprehenderit saepe? Dolor impedit magni minima molestias nobis rem rerum suscipit. Ab amet at autem blanditiis consectetur deleniti dignissimos dolores earum exercitationem facere laborum magnam modi molestiae molestias, mollitia non officia perspiciatis placeat quas quibusdam quisquam repellat similique!
                                    </div>
                                </div>
                                <div class="accounts__btnbox mt-16">
                                    <a href="" class="btn submit">모두 동의하고 시작</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
