{% extends 'layout/base.njk' %}
{% block content %}
    <div class="accounts">
        <div class="wrap">
            <div class="accounts__content">
                <div class="accounts__header">
                    <h2>회원가입</h2>
                    <div class="breadcrumb">
                        <span class=""><strong>01</strong>약관동의</span>
                        <span class="active"><strong>02</strong>정보입력</span>
                        <span class=""><strong>03</strong>정보입력</span>
                    </div>
                </div>
                <div class="accounts__body">
                    <div class="signup">
                        <div class="form">
                            <form action="" class="block">

                                <div class="accounts__btnbox mt-16">
                                    <a href="" class="btn">취소</a>
                                    <a href="" class="btn submit">회원가입</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
