{% extends 'layout/base.njk' %}
{% block content %}
    <div class="sub ">
        <div class="wrap">
            <div class="breadcrumb">
                <span class="">Home</span>
                <span class="">약속처방</span>
                <span class="active">사전처방</span>
            </div>
            <div class="subtit">
                <span>마이페이지</span>
                <h2>주문내역</h2>
            </div>

            <div class="mypage pb-20">
                <div class="row items-start">
                    <div class="col mypage__lnb">
                        <h2>My The Han</h2>
                        <ul class="mypage__gnb">
                            <li><a href="" class="">주문내역</a></li>
                            <li><a href="" class="">장바구니</a></li>
                            <li><a href="" class="">한의사 관리</a></li>
                            <li><a href="" class="">처방옵션</a></li>
                            <li><a href="" class="active">보관함</a></li>
                            <li><a href="" class="">마일리지/적립금</a></li>
                            <li><a href="" class="">통계관리</a></li>
                            <li><a href="" class="">내 정보</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="board-table-info items-end">
                            <h2 class="info-title">보관함</h2>

                        </div>
                        <section class="section">
                            ...
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
