.accounts {
  padding: 100px 0 150px;
  background:#f5f5f5;
}

.accounts__header {
  padding-bottom: 30px;
  border-bottom: 1px solid #999999;
  @apply flex items-baseline justify-between;
  h2 {
    font-size: 28px;
    line-height: 1em;
    letter-spacing: -.05em;
  }
}
.accounts__body {
  background:#fff;
  padding: 70px 0 100px;
  letter-spacing: -.05em;
  .signup__title {
    font-size: 14px;
    color: #999999;
    margin-bottom: 1em;
    line-height: 1em;
  }
  .signup__terms {
    border: 1px solid #999;
    padding: 1em;
    font-size: 14px;
    line-height: 24px;
    color:#888;
    height: 300px;
    overflow: auto;
  }
}

.accounts__btnbox {
  @apply flex items-center justify-center;

  .btn {
    @apply mr-5 text-center;
    height: 50px;
    line-height: 48px;
    padding:0 1.5em;
    font-size: 14px;
    border:1px solid #dddddd;
    color:#888;
    min-width: 150px;

    &:last-child {
      margin-right: 0;
    }
  }
  .submit {
    border: 1px solid #507a19;
    background:#507a19;
    color:#fff;
  }
}

.signup__top-title {
  text-align: center;
  letter-spacing: -.05em;
  line-height: 2em;
  margin-top: 1em;
}

.signup__desc {
  background:#f6f6f6;
  padding: 1.25em 1.5em;

  p {
    color:#999999;
    font-size: 14px;
    line-height: 30px;
  }
}



.accounts__content {
  .form {
    @apply bg-white;
    width: 750px;
    margin:0 auto;

    .form__title {
      @apply text-center;
      font-size: 28px;
      margin-bottom: 30px;
      line-height: 1em;
    }
  }

  .input-info {
    font-size: 12px;
    color:#507a19;
  }



}

.login {
  padding: 100px 150px;

  .login__etc {
    a {
      font-size: 14px;
      color:#888;
    }
  }

  .login__buttons {
    margin-top: 50px;

    .btn {
      @apply block w-full;
      line-height: 50px;
      text-align: center;
      color:#888;
      border: 1px solid #dddddd;

      &.submit {
        border-color:#507a19;
        background:#507a19;
        color:#fff;
      }
    }
  }
}

.signup__section {
  letter-spacing: -.05em;
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }
  .signup__section-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1em;
  }
}




.checkbox {
  @apply flex items-center;
  letter-spacing: -.05em;
  cursor: pointer;
  input + span {
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    margin-right: 5px;
    background:#fff;
  }
  input:checked  + span {
    background:#94734f;
    border-color:#94734f;
  }
  p {
    font-size: 14px;
    color:#888888;
  }
}

.accounts__etc {
  @apply text-center mt-10;
  color:#999999;

  a {
    color:#333;
    text-decoration: underline;
  }

}

.file {
  label {
    @apply flex;
    border:1px solid #ddd;
  }
  p {
    line-height: 48px;
    width: 100%;
    font-size: 14px;
    padding: 0 1em;
    background: #fff;
    color:#aaa;
    &.has-value {
      color:#333;
    }
  }

  .btn {
    width: 160px;
    flex: none;
    background:#4b4643;
    color:#fff;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
  }

}


.signup__info {
  margin-top: 10px;
  margin-bottom: 50px;
  .col {
    background:#fff;

  }
  .signup__info-header {
    background:#4b4643;
    color:#fff;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .signup__info-body {
    border: 1px solid #dddddd;
    border-top: none;
    padding: 20px;
    height: 265px;

    ul {
      padding-left: 20px;
      list-style: disc;

      li {
        font-size: 14px;
        color:#999999;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }

        &.required:after {
          content:'*';
          @apply text-red-500;
        }
      }
    }
  }

  .signup__info-desc {
    font-size: 14px;
    color:#999999;
    line-height: 20px;
    margin-top: 10px;

    a {
      @apply text-blue-500;
    }
  }
}
