.point {

  .point-total {
    background:#f9f4f1;
    border: 1px solid #ddd;
    padding: 1rem 0;

    .col {
      @apply flex items-center justify-center;
      color: #888;
      font-size: 14px;
      strong {
        margin-right: 4rem;
        font-weight: 400;
      }
      .point-box {
        p {
          font-size: 12px;
        }
        div {
          font-size: 40px;
          margin-top: 5px;
          @apply flex items-center;
          img {
            margin-left: 5px;
          }
        }
      }
      & ~ .col {
        border-left: 1px solid #ddd;
      }
    }
  }
}
