<header class="header">
   <div class="header__top">
       <div class="wrap flex items-center">
           <a href="" class="header__logo"><img src="./assets/images/header-logo.png" alt="청연한방병원 원외탕전실"></a>
           <div class="header__search">
               <form action="" class="block">
                   <div class="flex header__form">
                       <input type="text">
                       <button type="submit" class="submit">검색</button>
                   </div>
               </form>
           </div>

           <div class="header__etc ml-auto">
               <a href="">마이페이지</a>
               <a href="">장바구니</a>
               <a href="">로그인</a>
               <a href="">회원가입</a>
           </div>
       </div>
   </div>
    <div class="header__gnb">
        <div class="wrap flex">
            <nav class="flex mr-auto">
                <a href="">처방하기</a>
                <a href="">약속처방</a>
                <a href="">처방사전</a>
                <a href="">고객센터</a>
                <a href="">이벤트</a>
                <a href="">무료 이미지 사용</a>
            </nav>
            <nav class="flex">
                <a href="">실속처방</a>
                <a href="">탕제처방</a>
                <a href="">약속처방</a>
            </nav>
        </div>
    </div>
</header>
