<div class="quick">
    <div class="quick__links">
        <a href="" class="delivery">
            <i ></i>
            <p>배송안내</p>
        </a>
        <a href="" class="notice">
            <i ></i>
            <p>공지사항</p>
        </a>
        <a href="" class="event">
            <i ></i>
            <p>이벤트</p>
        </a>
        <a href="" class="faq">
            <i ></i>
            <p>FAQ</p>
        </a>
        <a href="" class="cyber">
            <i ></i>
            <p>사이버<br/>견학신청</p>
        </a>
        <a href="" class="qna">
            <i ></i>
            <p>1:1문의</p>
        </a>
    </div>
    <a href="" class="link"><img src="./assets/images/icon-kakao.png" alt=""></a>
</div>
