.board-detail {
  border:1px solid #ddd;

  .board-header {
    background:#f9f4f1;
    border-bottom: 1px solid #ddd;
    .row {
      @apply flex items-center;
      height: 50px;
      padding:0 1em;
      line-height: 1em;
      color:#888;
      font-size: 14px;
    }
    .number {
      padding: 0 1em;
      border-right: 1px solid #ddd;
    }
    .title {
      flex: 1;
      padding:0 1em;
      color:#666;
    }
    .date {
      padding: 0 1em;
    }
  }
  .board-content {
    padding: 1em;
    min-height: 300px;

    p {
      font-size: 14px;
      line-height:1.5em;
    }
  }
}
