.gallery {

  ul {
    @apply flex flex-wrap;
    margin:0 -10px;
  }
  .gallery__item {
    width: 33.33%;
    padding:0 10px;
    flex: none;
    &:nth-child(n + 4) {
      margin-top: 20px;
    }

    .info {
      @apply text-center py-4;
      letter-spacing: -.075em;
    }
    h3 {
      font-size: 18px;
      strong {
        @apply ml-1;
        color:#f85b1d;
      }
    }
    img {
      width: 100%;
    }
    p {
      font-weight: 300;
      color:#777777;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .thumbnail-body {
    @apply flex justify-between items-center;
    border: 1px solid #eee;
    padding:1em;
    color:#888;
    &.flex-col {
      @apply flex flex-col items-start;
      h3 {
        color:#666;
      }
    }
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      color:#888;
      line-height: 1em;
    }
    a {
      border: 1px solid #888;
      font-size: 12px;
      @apply flex items-center;
      padding:0 10px;
      line-height: 25px;
    }
  }
}
